<?xml version='1.0' encoding='utf-8'?>
<robot name="insta360_x5">
  <link name="x5_link">
    <inertial>
      <origin xyz="0 0 0.06225" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="0.000293604166667" iyy="0.000269778166667" izz="4.67073333333e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual name="graphite_polycarbonate">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/graphite_polycarbonate.obj" scale="1 1 1" />
      </geometry>
      <material name="graphite_polycarbonate">
        <color rgba="0.17924 0.19312 0.21210 1.00000" />
      </material>
    </visual>
    <visual name="rubber_grip">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/rubber_grip.obj" scale="1 1 1" />
      </geometry>
      <material name="rubber_grip">
        <color rgba="0.11774 0.13817 0.16008 1.00000" />
      </material>
    </visual>
    <visual name="recess_shadow">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/recess_shadow.obj" scale="1 1 1" />
      </geometry>
      <material name="recess_shadow">
        <color rgba="0.05071 0.07016 0.09320 1.00000" />
      </material>
    </visual>
    <visual name="anodized_lens_ring">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/anodized_lens_ring.obj" scale="1 1 1" />
      </geometry>
      <material name="anodized_lens_ring">
        <color rgba="0.20907 0.22658 0.24780 1.00000" />
      </material>
    </visual>
    <visual name="lens_edge">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/lens_edge.obj" scale="1 1 1" />
      </geometry>
      <material name="lens_edge">
        <color rgba="0.32273 0.34064 0.36556 1.00000" />
      </material>
    </visual>
    <visual name="coated_optical_glass">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/coated_optical_glass.obj" scale="1 1 1" />
      </geometry>
      <material name="coated_optical_glass">
        <color rgba="0.03876 0.09320 0.07847 1.00000" />
      </material>
    </visual>
    <visual name="display_glass_off">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/display_glass_off.obj" scale="1 1 1" />
      </geometry>
      <material name="display_glass_off">
        <color rgba="0.03876 0.05071 0.05071 1.00000" />
      </material>
    </visual>
    <visual name="display_black_border">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/display_black_border.obj" scale="1 1 1" />
      </geometry>
      <material name="display_black_border">
        <color rgba="0.01292 0.01550 0.01680 1.00000" />
      </material>
    </visual>
    <visual name="mount_stainless">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/mount_stainless.obj" scale="1 1 1" />
      </geometry>
      <material name="mount_stainless">
        <color rgba="0.64996 0.66519 0.68722 1.00000" />
      </material>
    </visual>
    <visual name="printed_markings">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/printed_markings.obj" scale="1 1 1" />
      </geometry>
      <material name="printed_markings">
        <color rgba="0.58383 0.60971 0.62621 1.00000" />
      </material>
    </visual>
    <visual name="status_cyan">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/visual/status_cyan.obj" scale="1 1 1" />
      </geometry>
      <material name="status_cyan">
        <color rgba="0.11207 0.67998 0.73536 1.00000" />
      </material>
    </visual>
    <collision name="body">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/collision/body.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="front_lens">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/collision/front_lens.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="rear_lens">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../assets/meshes/collision/rear_lens.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
  <link name="x5_mount" />
  <joint name="x5_mount_fixed" type="fixed">
    <parent link="x5_link" />
    <child link="x5_mount" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="x5_front_lens_surface" />
  <joint name="x5_front_lens_surface_fixed" type="fixed">
    <parent link="x5_link" />
    <child link="x5_front_lens_surface" />
    <origin xyz="0.0191 0 0.10400000000000001" rpy="0 0 0" />
  </joint>
  <link name="x5_rear_lens_surface" />
  <joint name="x5_rear_lens_surface_fixed" type="fixed">
    <parent link="x5_link" />
    <child link="x5_rear_lens_surface" />
    <origin xyz="-0.0191 0 0.10400000000000001" rpy="0 0 0" />
  </joint>
</robot>